{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/about.css">
<div class="hb">
<div class="about-section">
        <div class="inner-container">
            <h1>About Omnicare . . .</h1>
            <p class="text">
                Omnicare<br>
                Medical supplies.., Drugs.., anything you can find here in form or capsule, tablets, syrup and else. Like other pharmacy. Just same, no different.
            </p>
            <div class="skills">
                <span>Fadzni Aidil XD</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}