<!DOCTYPE html>
<html>
<head>
	<title>Omnicare</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/pure.css">
<link rel="stylesheet" type="text/css" href="static/css/cssvs2g.css">
<body>
	<header class="header">
		<img class="logo" src="static/images/logo.png">
		<nav>
			<ul class="navlink">
				<li><a href="/main">Home</a></li>
				<li><a href="/search">Search</a></li>
				<li><a href="/product">Product</a></li>
				<li><a href="/patient">Patient</a></li>
				<li><a href="/prescription">Prescription</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</nav>
	</header>
	<div>
		{% block content %}
		{% endblock %}
	</div> 
</body>
</html>