{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="../static/js/js1.js"></script>
<div class="container">
	<div class="button_container" id="button">
		<button class="button" onclick="dshowall()">Show All</button>
		<button class="button" onclick="dtablet()">Creams</button>
		<button class="button" onclick="dcream()">Tablets</button>
		<button class="button" onclick="dcapsule()">Capsules</button>
		<button class="button" onclick="dsyrup()">Syrups</button>
		<button class="button" onclick="dpowder()">Powder</button>
		<button class="button" onclick="dshowadd()">Add</button>
	</div>
	<br>
	<div class="div_container">
		<div id="dform0" class="tableset">
			<table class="tab1">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Form</th>
					<th>Strength</th>
					<th>Expired Date</th>
					<th>Update Info</th>
				</tr>
				{% for i in data_all %}
				<tr>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}<span>mg</span></td>
					<td>{{i[4]}}</td>
					<td>
						<a href='/nano/{{i[0]}}'>
							<button class="edit" type="button">Edit</button>
						</a>
						<a href='/purge/{{i[0]}}'>
							<button class="update" type="button">Delete</button>
						</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div id="dform1" class="tableset">
			<table class="tab1">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Form</th>
					<th>Strength</th>
					<th>Expired Date</th>
					<th>Update Info</th>
				</tr>
				{% for i in data_tablet %}
				<tr>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}<span>mg</span></td>
					<td>{{i[4]}}</td>
					<td>
						<a href='/nano/{{i[0]}}'>
							<button class="edit" type="button">Edit</button>
						</a>
						<a href='/purge/{{i[0]}}'>
							<button class="update" type="button">Delete</button>
						</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div id="dform2" class="tableset">
			<table class="tab1">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Form</th>
					<th>Strength</th>
					<th>Expired Date</th>
					<th>Update Info</th>
				</tr>
				{% for i in data_cream %}
				<tr>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}<span>mg</span></td>
					<td>{{i[4]}}</td>
					<td>
						<a href='/nano/{{i[0]}}'>
							<button class="edit" type="button">Edit</button>
						</a>
						<a href='/purge/{{i[0]}}'>
							<button class="update" type="button">Delete</button>
						</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div id="dform3" class="tableset">
			<table class="tab1">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Form</th>
					<th>Strength</th>
					<th>Expired Date</th>
					<th>Update Info</th>
				</tr>
				{% for i in data_capsule %}
				<tr>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}<span>mg</span></td>
					<td>{{i[4]}}</td>
					<td>
						<a href='/nano/{{i[0]}}'>
							<button class="edit" type="button">Edit</button>
						</a>
						<a href='/purge/{{i[0]}}'>
							<button class="update" type="button">Delete</button>
						</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div id="dform4" class="tableset">
			<table class="tab1">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Form</th>
					<th>Strength</th>
					<th>Expired Date</th>
					<th>Update Info</th>
				</tr>
				{% for i in data_syrup %}
				<tr>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}<span>mg</span></td>
					<td>{{i[4]}}</td>
					<td>
						<a href='/nano/{{i[0]}}'>
							<button class="edit" type="button">Edit</button>
						</a>
						<a href='/purge/{{i[0]}}'>
							<button class="update" type="button">Delete</button>
						</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div id="dform5" class="tableset">
			<table class="tab1">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Form</th>
					<th>Strength</th>
					<th>Expired Date</th>
					<th>Update Info</th>
				</tr>
				{% for i in data_powder %}
				<tr>
					<td>{{i[0]}}</td>
					<td>{{i[1]}}</td>
					<td>{{i[2]}}</td>
					<td>{{i[3]}}<span>mg</span></td>
					<td>{{i[4]}}</td>
					<td>
						<a href='/nano/{{i[0]}}'>
							<button class="edit" type="button">Edit</button>
						</a>
						<a href='/purge/{{i[0]}}'>
							<button class="update" type="button">Delete</button>
						</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div id="addform">
			<div>
				<h2>Add Medicine</h2>
			</div>
			<form action="/goAdd" method="POST">
				<table>
					<tr>
						<td>ID :</td>
						<td>
							<input type="text" name="D_ID" size="50" required>
						</td>
					</tr>
					<tr>
						<td>Name :</td>
						<td>
							<input type="text" name="D_Name" size="50" required>
						</td>
					</tr>
					<tr>
						<td>Form :</td>
						<td>
							<select name="D_Form">
								{% for i in option %}
								<option>{{i}}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<td>Dose</td>
						<td>
							<input type="number" name="D_Dose" size="50" required>
						</td>
					</tr>
					<tr>
						<td>Expired</td>
						<td>
							<input type="date" name="D_Expired" size="50" required>
						</td>
					</tr>
				</table>
				<button class="edit" action="/goAdd">Submit</button>
				<a href='/product'>
					<button class="update" type="button">Cancel</button>
				</a>
			</form>
		</div>
	</div>
</div>

{% endblock %}
